@import url(fonts.css);
@import url(reset.css);

BODY {
	font:25px/1.8 'PT Sans', sans-serif;
	background:#999 url(../images/linen.png);

	color:#fff;
	text-shadow:0 1px 1px #333;
	}
	h1 {
		font:bold 60px/1 'PT Sans Narrow', sans-serif;
	}
	h2 {
		font:bold 40px/1 'PT Sans Narrow', sans-serif;
	}
	a {
		color:#fff;
		font-size: 170px;
		text-shadow:0 -1px 1px #1F3F60;
		text-decoration:none;
		}
	a:hover {
		color:#5ca4ed;
		}

	#counter {
		font:bold 60px/1 'PT Sans Narrow', sans-serif;
		position:absolute;
		top: 50%;
		left: 50%;
		margin-left: -360px;
		margin-top: -150px;
	}
	#counter p {
		position:absolute;
		left: 50%;
		margin-left: 100px;
		margin-top: 150px;
	}
}
